{{!Dynamisk liste til oversigter}}

<ul class="list">
    {{#each items}}
    <li class="list-item">
    <div class="list-content">
        {{#each ../fields}}
        <div class="list-field">
             {{lookup ../this this}}
        </div>
        {{/each}}
    </div>

    {{! Rediger}}
        <div class="list-actions">
            <a href="{{../editUrl}}/{{this.user_id}}" class="action-icon edit" title="Rediger">Rediger</a>
                <div class="separator"></div>
        {{! Slet}}
<form action="{{../deleteUrl}}/{{this.user_id}}/delete" method="POST" onsubmit="return confirm('Er du sikker på, du vil slette brugeren?');">
    <button type="submit" class="action-icon delete" title="Slet">Slet</button>
</form>
        </div>
    </li>
    {{/each}}
    </ul>